*~
*#
*.pyc
.cache
.pytest_cache
.tox
.libs
.coverage
ndd.egg-info
venv
TODO
MANIFEST
tests/*
!tests/data.json
!tests/test_basic.py
!tests/make_test_ref.py
!tests/minimal_test.py
exts/*
!exts/*.f90
!exts/*.pyf
build/*
dist/*
ndd/*.so
ndd/*.c
figs/*
!tests/*.py
docs/*
!exts/bias.f90
!exts/bias.rst

